<div id="<%= table.db %>" class="dropdownconfig" name="<%= name %>" db="<%= table.db %>" dbvalue="<%= table.value %>" dbname="<%= table.name %>">
    <div class="button add" style="width: 100%;text-align:right;" db="<%= table.db %>">
        <i class="bi bi-plus-circle"></i></div>
    <table  id="table-<%= table.db %>" class="table table-striped table-bordered table-expandable mydatatable" style="width: 100%;"
        <%- locals.originalOrder ? "data-order='[]'" : '' -%>>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" class="th-action-buttons">Actions</th>
            </tr>
        </thead>
        <tbody>
            <%- array.map(a=> ( 
                            `<tr>
                                <td>
                                    ${a.name}
                                </td>
                                <td class="action-buttons">
                                    <div class="button edit" db="${a.table}" item-id="${a.value}" item-name="${a.name}"><i class="bi bi-pen"></i></div> 
                                    <div class="button delete" db="${a.table}" item-id="${a.value}" item-name="${a.name}"><i class="bi bi-trash"></i></div>
                                </td>
                            </tr>`
            )).join('') %>
        </tbody>
    </table>
</div>
