<%- include ('../partials/header', {styles:["/css/accordion.css","/css/dropdownconfig.css"], scripts:["/js/accordion.js","/js/dropdownconfig.js"], username: authUser.name}) -%>

<div class="container container-header">
  <div class="container py-5">
    <div class="container heading-container">
      <h1 class="display-1">True Legacy Homes Sale Manager</h1>
      <h1 class="display-6">Dropdown Admin Configuration</h1>
    </div>

    <div style="display: flex;align-items:center;justify-content: space-between;">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Back</a></li>
        </ol>
      </nav>
    </div>
    <%- include ('../partials/accordion', {title: "Market", contentId: 'market' }) -%>
    <%- include ('../partials/dropdownconfig', {table: {db: 'market', value:'market_id', name:'market_name'}, name: 'Market', array: locals.marketArray.map(m=> {
      return {
      name: m.market_name,
      value: m.market_id,
      table: "market"
      }
      })
      }) -%>

<%- include ('../partials/accordion', {title: "Service", contentId: 'service' }) -%>
<%- include ('../partials/dropdownconfig', {table: {db: 'service', value:'services_id', name:'services_name'}, name: 'Service', array: locals.serviceArray.map(m=> {
return {
name: m.services_name,
value: m.services_id,
table: "service"
}
})
}) -%>

<%- include ('../partials/accordion', {title: "Cashier", contentId: 'cashier' }) -%>
<%- include ('../partials/dropdownconfig', {table: {db: 'cashier', value:'cashier_id', name:'cashier_name'}, name: 'Cashier', array: locals.cashierArray.map(m=> {
return {
name: m.cashier_name,
value: m.cashier_id,
table: "cashier"
}
})
}) -%>

<%- include ('../partials/accordion', {title: "Sales Person", contentId: 'salesPerson' }) -%>
<%- include ('../partials/dropdownconfig', {table: {db: 'salesPerson', value:'salesperson_id', name:'salesperson_name'}, name: 'Sales Person', array: locals.salesPersonArray.map(m=> {
return {
name: m.salesperson_name,
value: m.salesperson_id,
table: "salesPerson"
}
})
}) -%>

<%- include ('../partials/accordion', {title: "POS ID", contentId: 'pos_id' }) -%>
<%- include ('../partials/dropdownconfig', {table: {db: 'pos_id', value:'pos_id_id', name:'pos_id'}, name: 'POS ID', array: locals.posIdArray.map(m=> {
return {
name: m.pos_id,
value: m.pos_id_id,
table: "pos_id"
}
})
}) -%>

<%- include ('../partials/accordion', {title: "Trailer #", contentId: 'trailer_number' }) -%>
<%- include ('../partials/dropdownconfig', {table: {db: 'trailer_number', value:'trailer_number_id', name:'trailer_number'}, name: 'Trailer #', array: locals.trailerNumberArray.map(m=> {
return {
name: m.trailer_number,
value: m.trailer_number_id,
table: "trailer_number"
}
})
}) -%>

<%- include ('../partials/accordion', {title: "Opening Day", contentId: 'opening_day' }) -%>
<%- include ('../partials/dropdownconfig', {table: {db: 'opening_day', value:'opening_day_id', name:'opening_day'}, name: 'Opening Day', array: locals.openingDayArray.map(m=> {
return {
name: m.opening_day,
value: m.opening_day_id,
table: "opening_day"
}
}), originalOrder: true
}) -%>

  </div>
</div>

<div id="dropdownconfig-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 id="dropdownconfig-modal-title" class="modal-title"></h4>
          </div>
          <div class="modal-body">
              <div class="form-floating">
                  <input type="text" class="form-control" id="dropdownItemName" name="dropdownItemName" item-id=""
                      step="any" placeholder="" value="">
                  <label for="dropdownItemName">Name</label>
                  <div class="invalid-feedback">
                      Please enter a value
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button id="dropdownconfig-modal-cancel" type="button" class="btn btn-default"
                  data-dismiss="modal">Cancel</button>
              <button id="dropdownconfig-modal-ok" type="button" class="btn btn-success">Ok</button>
          </div>
      </div>
  </div>
</div>

<%- include ('../partials/footer') -%>